extends layout

block content
  center
    h3 Find pictures on twitter using any keyword or hashtag
    form.form-horizontal(method='get', action='/search')
      fieldset
        input(type="text",
              name="q",
              style="font-size:2em;height:20%;width:55%;text-align:center;margin-right:8px;")
        button.btn.btn-large.btn-success(type="submit") Search 

block scripts
  //script(src='/socket.io/socket.io.js')
  //script(src='./js/client.js')

