extends layout

block content
  #results
    tweets = JSON.parse(results)
    h4 Pictures of #{q} 
    each tweet in tweets
      if tweet.entities.media
        .tweet
          .text= tweet.text
          img(src=tweet.entities.media[0].media_url)
