extends layout

block content
  #results
    - tweets = JSON.parse(results)
    - num = Math.floor(tweets.length / 3)
    - start = 0
    h4 Pictures of #{q} 
    h4 #{tweets.length} results returned
    .span3
      ul.thumbnails
        each tweet in tweets.slice(start,num)
          include _tweet
    - start = num
    - num += num
    .span3
      ul.thumbnails
        each tweet in tweets.slice(start, num)
          include _tweet
    - start = num
    .span3
      ul.thumbnails
        each tweet in tweets.slice(start)
          include _tweet
