extends layout

block content
  #results
    - tweets = JSON.parse(results)
    - columns = 4
    - num = Math.ceil(tweets.length / columns)
    - start = 0
    - end = num
    h4 Pictures of #{q} 
    h4 #{tweets.length} results returned
    - for (var i=0; i<columns; i++) {
      .span4
        ul.thumbnails
          - if (i < columns - 1)
            each tweet in tweets.slice(start,end)
              include _tweet
          - else
            each tweet in tweets.slice(start)
              include _tweet
      - start = end
      - end += num
    - }

