

.form_frame {
    text-align:left;
    position: absolute;
    background-color: #6996AD;	/* for debugging */
    border-radius: 8px;

    /*
     Bosco's netbook screen is only 1024px wide, so had to lower the
     following margins to make the form_frame appear.
     */
    margin-top: -226px;
    margin-left: -84px;
}

.thumbnails_frame {
    width: 300px;
    height: 450px;
    overflow: auto;
    margin: auto;
    float: left;

    /*background-color: blue;	for debugging */
}

.thumbnail {
    position: relative;
    float: left;
    width:90px;
    height:90px;

    /*background-color: green;	for debugging */
    overflow: hidden;
}

#slide{
    float:left;
    padding-left:10px;
    width: 450px;
}

