/*	--------------------------------------------------
Container
-------------------------------------------------- */
div#container, div.container { position: relative; width: 975px; margin: 0 auto; padding: 0;}

/*translucent box*/
.trans-box{background-color:black;color:white;opacity:0.4;height:15%;margin:-5px 0px 2px 0px;}

/*img box*/
.grid{}
.picture{width: 100%;}
 
.img_box{width:170px;background:white;border:1px solid grey;-moz-box-shadow: 5px 5px 8px #888;
-webkit-box-shadow: 5px 5px 8px #888;
box-shadow: 5px 5px 8px #888;margin-top:18px;z-index:1;position:relative;}
div.img_box:hover{width:300px;z-index:4;}
.social-media-box{background-color:lightblue;color:#333;padding:5px;text-align:center;}
div.social-media-box img{vertical-align:top;;}

 
/*	--------------------------------------------------
Grid
-------------------------------------------------- */
.column-row, .row { margin:0px; }
.column, .columns { float: left; display: inline; margin: 0 0 0 1px;overflow:hidden; }
div.column:hover{overflow:visible;}

 
.one { width: 60px; }
.two { width: 121px; }
.three { width: 182px; }
.four { width: 243px; }
.five { width: 324px; }
.six { width: 365px; }
.seven { width: 426px; }
.eight { width: 487px; }
.nine { width: 548px; }
.ten { width: 609px; }
.eleven { width: 670px; }
.twelve { width: 731px; }
.thirteen { width: 792px; }
.fourteen { width: 853px; }
.fifteen { width: 914px; }
.sixteen { width: 975px; }
 
.offset-by-one-half { margin-left: 30.5px; }
.offset-by-one { margin-left: 61px; }
.offset-by-two { margin-left: 122px; }
.offset-by-three { margin-left: 183px; }
.offset-by-four { margin-left: 244px; }
.offset-by-five { margin-left: 305px; }
.offset-by-six { margin-left: 366px; }
.offset-by-seven { margin-left: 427px; }
.offset-by-eight { margin-left: 488px; }
.offset-by-nine { margin-left: 549px; }
.offset-by-ten { margin-left: 610px; }
.offset-by-eleven { margin-left: 671px; }
.offset-by-twelve { margin-left: 732px; }
.offset-by-thirteen { margin-left: 793px; }
.offset-by-fourteen { margin-left: 854px; }
 
/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }
 
/*	IE6 Problems ---------- */
body.ie .column-row { width: 976px; }
body.ie .eight .column-row	 { width: 488px; }
body.ie .nine .column-row	 { width: 549px; }
body.ie .ten .column-row	 { width: 610px; }
body.ie .eleven .column-row { width: 671px; }
body.ie .twelve .column-row	 { width: 732px; }
body.ie .thirteen .column-row	{ width: 793px; }
body.ie .fourteen .column-row	{ width: 854px; }
body.ie .fifteen .column-row	{ width: 915px; }
body.ie .two-thirds .column-row { width: 489px; }