<div id="top">
<h2>about</h2>
<p style="font-family:arial;font-size:1.1em">Picturely is creating tools to organize the world's photos. Check back soon for our next release.</p>

<p style="font-family:arial;font-size:1.1em">Press and interested parties can contact us by e-mail: team@picture.ly</p>

<p style="font-family:arial;font-size:1.1em">Best wishes,</br>
The Picturely team: <a href="http://boscomonkey.com/" target="_blank">Bosco,</a> <a href="http://www.eoin.me" target="_blank">Eoin</a> & <a href="http://www.linkedin.com/in/hmujhid" target="_blank">Hadiyah</a>.
</p>
</div>