<div id="top">
<h2>about</h2>
<p style="font-family:arial;font-size:1.1em">Picturely is building tools to create and curate public photo albums. Check back soon for our next release.</p>

<p style="font-family:arial;font-size:1.1em">Press and interested parties can contact us by e-mail: team@picture.ly</p>

<p style="font-family:arial;font-size:1.1em">Best wishes,</br>
The Picturely team: Hadiyah, Eoin & Bosco.
</p>
</div>