<div id =top>
<h3>about</h3>
<p>The picturely team love photos. So much so that their frustration with not being able to easily search what's happening in the world right now drove them to quit their jobs and start a company, Picturely Labs, where they could tinker away and make products to help you see the world through others' eyes.</p>

<p>Picturely has three products for your enjoyment:</p>

<ul>
<li><p><b>Picturely Dashboard</b> - "Dude! I'm onTV!!!" - if you run events then the dashboard is for you. People love seeing themselves on the big screen and picturely makes it easy to put them there. Stream photos, tweets and sponsor slides with ease; all you have to do is promote the #tag.
A leader in it's field, Picturely Dashboard gives you flexible streaming options, branding templates and the control to censor unwanted images. It is intended for use at festivals, sporting venues* and conferences and is available as a paid premium product. <a href="mailto:seepicturely@gmail.com">Contact us</a> for more information, including pricing options.

* If your name is Mark Cuban, we would like to speak to you.</p></li>

<li><p><b>Picturely Search</b> - easily see the most recent photos taken from people around the world**. Good measures of creativity and curiosity are desired amongst ye intrepid explorers.</p></li>
<li><p><b>Picturely Embed</b> - Perfect for bloggers, our embed feature allows you curate a photo feed and embed it on your website. Useful for fashion, news, current events, or just showing what you did last Saturday night.</p></li></ul>
We hope you have as much fun using Picturely as we are having building it. You can sign up for <a href="http://signup.picture.ly">early beta here</a>. Please keep in mind: we are a startup who loves photos. What we make isn't perfect and we love feedback to help us make better products. Please complete our <a href="http://survey.io/survey/9e0df">survey</a> here. It'll only take a minute! 
<p>Sincerely,</p>

<p>The Picturely team,</p>

<p>Eoin McMillan, Hadiyah Mujhid and Bosco So. </p>
 
 
 
** Picturely Search currently pulls from instagram, twit-pic & y-frog through twitter. Other services will be integrated over time.</br>

** Advanced Search options are in the pipeline.</br>

** Disclaimer: Picturely Search helps you search through publicly available photos. We take no responsibility for offensive material that appear such as nudity and coarse language. Humans will be human, after all...
</div>
