

<div class="row" >
	<%= image_tag("logo_camera_only.png", :width =>"200px",:style => 'display:block;margin-right:auto;margin-left:auto;padding-top:40px;') %>
</div>


<%= form_tag("/search", :method => "get", :onsubmit => 'mpq.track("Search Form Used");', :style => "margin-top:30px;") do %>





  <%= search_field :q,nil,:style => "font-size:3em;height:30%;width:75%;display:block;margin-right:auto;margin-left:auto;text-align:center;", :value => 'enter search term here', :onfocus => "this.value=''" %>

  
<% end %>
<div class="row" style="text-align:center;">
Hint: Try searching using a hashtag, twitter username, or location
</div>












	
	
	