<%= stylesheet_link_tag "albums", "album_show" %>
<%= javascript_include_tag "uri", "album_show" %>

<div id = "center">

		
				
	<%= link_to image_tag("LOGO_Website-Picturely.gif"), "http://www.picture.ly" %>
	<%= image_tag "http://techweek.com/images/logo6_s3.png" %>
	
	<div id = "left">
	



<img id="slide"/><img id="slide_prefetch"/>	
</div>
<div id ="right">



 <div id="caption">
	<div id="term"></div>
	<div id="handle"></div>
	<div id="tweet"></div>
</div>
</div>
</div>

