<%= stylesheet_link_tag "albums", "album_show" %>
<%= javascript_include_tag "uri", "album_show" %>


<!--using this code for embed-->	
<img id="slide" style="top:0; left:0; padding:0; position:absolute;"/><img id="slide_prefetch"/>
<div style="color:white; position:absolute; bottom:3px; left:8px; font-family:arial; z-index:2; font-size:0.9em">#techwk</div><div style="background-color:white; position:absolute; bottom:0; left:70px; width:100%; border-radius:3px; display:inline; z-index:1; font-family:arial; font-size:25px; vertical-align:text-top"><a href="http://picture.ly" target="_blank"><img src="http://picture.ly/images/LOGO_Website-Picturely.gif" height="20px" style="border-right:2px solid orange"/></a> <img src="http://techweek.com/images/logo6_s3.png" height="18px" style="padding-left:3px; padding-right:3px"/></div>	



